<ion-content class="ion-padding">
  <p>Translate Demo</p>
  <h6>Name : {{"FAMILY_DETAIL.NAME" | translate }}</h6>

  <div class="ion-padding">
    <ion-button shape="round" fill="outline" (ionChange)="changeLan($event)">
      <ion-select label="Change Language" placeholder=" ">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="guj">Gujarati</ion-select-option>
        <ion-select-option value="hin">Hindi</ion-select-option>
      </ion-select>
    </ion-button>
  </div>
</ion-content>
